body {
    font-family: verdana;
    background-color: #00ff40;
    color: rgb(255, 0, 0);
  }


  
.imagenes-container{
 
  display: flex;
  justify-content:center ;
  align-items: center ;
  height: 100vh;
}

.imagenes-container .imagen {

  position: relative;
  margin-right: -20px;
  display: inline-flex;
  flex-direction: column;
}
.imagenes-container .imagen img{
   width: 150px;
   height: 150px;
   transition: transform 0.3s ease-in-out;
    

}
.imagenes-container .imagen .nombre { /* los puntos son para acceder dentro de las carpetas/ classes . como cd */

  position: absolute;
  background-color: rgb(72, 0, 255);
  border-radius: 5px;
  color:rgb(255, 0, 123);
  display: none;
  min-width: 100px;
  width: 150px; /* modificar el ancho entre el medio de los assets */
  top: -55px; /* modificar el texto hascia arriba o abajo */
  left: calc(50%);
  padding: 10px 15px; /* relleno del texto */ 

}
.imagenes-container .imagen .nombre .text {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
}
.imagenes-container .imagen:hover .nombre { /* hover cada vez que pasas el mouse por ahi se realiza una accion concreta*/
  display: inline-block;
 
}

.imagenes-container .imagen .nombre::before {
  content: "";
  position: absolute; /*contenedor immediato */
  width: 1px; 
  height: 1px;
  left: 40%;
  bottom: -20px;
  border-top: 10px solid  rgb(72, 0, 255);
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-bottom: 10px solid transparent; 

} 

.imagenes-container .imagen:hover img{ 
transform: translateY(-3px);

}

@media  (max-widht: 680px) {
  .imagenes-container{
    flex-direction: column;
    height: 180vh; 
  }
}