@font-face {
  font-family: 'MiTipografia'; /* Nombre que asignarás a la tipografía */
  src: url('fonts/mi-tipografia.ttf') format('truetype'); /* Ruta a tu tipografía y su formato */
}

body {
  /* Configuracion tipografia */
  font-family: 'MiTipografia', dancing script; /* Agregado "cursive" como opción de respaldo */
  font-size: 25px; 

  /* Configuracion Fondo de pantalla */
  background-image: url("../../PaginaWeb/imagenes/allado.png");
  background-color: #ffffff; /* Usado si la imagen no está disponible */
  height: 97vh; /* 100% de la altura de la ventana */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda la ventana */
}

* {
  margin-top: 0; /* Asegura que no haya margen superior en todos los elementos */
  margin-left: 30px; /* Mueve todos los elementos 30px a la derecha */
  padding: 0; /* Establece el relleno a 0 para todos los elementos */
}

/* Añadido para establecer un margen general */
body, h1, p {
  margin: 0;
  padding: 0;
}


