body {

  /* Configuracion tipografia */
    font-family: Dancing Script;
    font-size: 25px; 
   
    /* Configuracion Fondo de pantalla */
    background-image: url("/imagenes/allado.png");
    background-color: rgb(229, 229, 229); /* Used if the image is unavailable */
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  


  *{
    margin-top: auto;
    margin-left: 30px;  /* para moverlo de derecha a izquierda  */
    padding: 0px;  /* para que quede mas separado o mas junto el index  */
}